<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="devicespath" value="VEN_8086&amp;DEV_1C2D&amp;SUBSYS_12371043&amp;REV_05, VEN_8086&amp;DEV_1C26&amp;SUBSYS_12371043&amp;REV_05" />    
    <add key="logfilename" value="IntelUSBHostDeviceReset.log" />
    <add key="logfilelocation" value="c:\logs" /> 
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>